/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

auto/ba.el
thesis/ba.run.xml
backup_init
css/bootstrap-theme.css.map
css/bootstrap-theme.min.css
css/bootstrap.css
css/bootstrap.css.map
css/bootstrap.min.css
doc/intro.md
img/_region_.aux
img/_region_.dvi
img/_region_.log
img/_region_.pdf
img/_region_.tex
img/auto/_region_.el
img/auto/pddl-workflow.el
img/pddl-workflow.aux
img/pddl-workflow.dvi
img/pddl-workflow.log
img/pddl-workflow.tex
img/prv_pddl-workflow.log
src/org_ba/.emacs.desktop
src/org_ba/auto/ba.el
src/org_ba/ba.bbl
src/org_ba/ba.bcf
src/org_ba/ba.blg
src/org_ba/ba.pyg
src/org_ba/ba.run.xml
src/org_ba/workflow.png
thesis/#core.clj#
thesis/ba.bbl
thesis/ba.bcf
thesis/ba.blg
thesis/ba.pyg
thesis/ba.run.xmlg